<h2>Selectionnez votre vol</h2>

<form [formGroup]="formAirport" (ngSubmit)="onSubmit()">

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Select your airport</mat-label>
      <mat-select>
        <mat-option *ngFor="let airport of airports | async" [value]="airport.icao">
          {{ airport.name + " - " + airport.icao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="toggle_section">
    <span>Depart</span>
    <mat-slide-toggle>Slide me!</mat-slide-toggle>
    <span>Arriver</span>
  </div>

  <div>
    <!--TODO Afficher les dates pour depart et arriver-->
  </div>

  <div class="button">
    <button type="submit" mat-flat-button color="primary">Afficher les vols</button>
  </div>
</form>
